<%- include('partials/header') -%>

<h1> <%= pageTitle %> </h1>

<p class="startHero"> <%= startingContent %> </p>

<ul class="home_ul">
    
    <% for (let i = 0; i < posts.length; i++) { %>
        <a class="link_posts" style=" text-decoration: none;" href="/posts/<%= posts[i].title%>">
            <li class="post">
                <h1 id="title"><%= posts[i].title %></h1>
                <p><%= posts[i].content.substring(0, 120) + "..." %></p>
                
            </li>
        </a>
    <% } %>
    
</ul>

  
<%- include('partials/footer') -%>