<%- include('partials/header') -%>

<h1 class="hello_name"> <%= pageTitle %> <%= name %></h1>

 
 
<ul class="home_ul">
    
    <% for (let i = 0; i < posts.length; i++) { %>
        <a class="link_posts" style=" text-decoration: none;" href="/posts/<%= posts[i].title%>">
            <li class="post">
                <h3 id="title"><%= posts[i].title %></h3>
                <p class="home_content"><%= posts[i].content.substring(0, 120) + "..." %></p>
                
            </li>
        </a>
    <% } %>
    
</ul>

  
<%- include('partials/footer') -%>